.avatar {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  color: var(--neutral-9);
  background: var(--neutral-2);
  padding: 0.5px;
}

.avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  outline: 3px solid var(--neutral-1);
  z-index: 1;
}

.avatar.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 2px;
  z-index: 0;
  background-color: var(--primary-6);
  box-sizing: content-box;
}

.avatar.count {
  background: var(--primary-3);
  padding: 0;
  outline: 3px solid var(--neutral-1);
}

.avatar .text {
  font: var(--label-2);
  color: var(--primary-6);
  font-weight: 600;
}

.avatars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatars .avatar {
  margin-left: -10px;
  z-index: 1;
}
