.statusChip {
  --large-size: 24px;
  --medium-size: 16px;
  --small-size: 12px;

  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 52px;
  white-space: nowrap;
  border: 1px dashed var(--neutral-4);
  background: var(--neutral-1);
}

.statusChip.large {
  padding: 8px 16px;
}

.statusChip.large .label {
  font: var(--tag-large);
  height: var(--large-size);
}

.statusChip.medium {
  padding: 4px 12px;
}

.statusChip.medium .label {
  font: var(--tag-medium);
  height: var(--medium-size);
}

.statusChip.small {
  padding: 4px 8px;
}

.statusChip.small .label {
  font: var(--tag-small);
  height: var(--small-size);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  flex-shrink: 0;
}

.statusChip.success .dot {
  background: var(--success);
}

.statusChip.warning .dot {
  background: var(--warning);
}

.statusChip.error .dot {
  background: var(--error);
}

.label {
  display: flex;
  align-items: center;
  color: var(--neutral-7);
}
