.radioButtonGroup {
  display: flex;
  align-items: center;
  gap: 16px;
  background: var(--neutral-1);
  border-radius: 50px;
  padding: 8px;
  box-shadow: inset 0 0 0 1px var(--neutral-3);
}

.radioOption {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 52px;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.radioOption:hover:not(.selected) {
  background: var(--neutral-2);
}

.radioOption.selected {
  background: var(--primary-6);
  color: var(--primary-1);
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.label {
  font: var(--button-medium);
  color: var(--secondary);
  white-space: nowrap;
}

.radioOption.selected .label {
  color: var(--primary-1);
}
