.chatBubble {
  display: flex;
  gap: 8px;
}

.chatBubble.isMe {
  flex-direction: row-reverse;
}

.chatBubble .avatar {
  flex-shrink: 0;
}

.chatBubble .content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chatBubble.isMe .content {
  align-items: flex-end;
}

.chatBubble .header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.chatBubble.isMe .header {
  flex-direction: row-reverse;
}

.chatBubble .author {
  font: var(--title-2);
  color: var(--neutral-9);
}

.chatBubble .time {
  font: var(--body-1);
  color: var(--secondary);
}

.chatBubble .time .edited {
  font: var(--caption);
  color: var(--neutral-5);
  margin-left: 4px;
}

.chatBubble .messageBubble {
  padding: 12px 16px;
  border-radius: 0 52px 52px 52px;
  box-shadow: 0 1px 2px #0000001a;
  word-wrap: break-word;
}

/* 상대방 메시지 (왼쪽) */
.chatBubble:not(.isMe) .messageBubble {
  background: var(--neutral-1);
  border: 1px solid var(--neutral-3);
  color: var(--secondary);
}

/* 내 메시지 (오른쪽) */
.chatBubble.isMe .messageBubble {
  background: var(--gradient-primary);
  color: var(--neutral-1);
  border-radius: 52px 0 52px 52px;
}

.chatBubble .message {
  font: var(--body-3);
  line-height: 1.5;
  white-space: pre;
  word-wrap: normal;
  overflow-wrap: normal;
}
