.searchForm {
  --size: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 2px var(--neutral-3);
  border-radius: 40px;
  width: var(--size);
  max-width: 300px;
  background: var(--neutral-1);
  transition: all 0.2s ease-in-out;
}

.searchForm:not(.expanded) {
  cursor: pointer;
}

.searchForm.expanded {
  width: 100%;
  gap: 16px;
}

.input {
  font: var(--textfield-1);
  background: transparent;
  border: none;
  outline: none;
  width: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.searchForm.expanded .input {
  width: 100%;
  opacity: 1;
  padding-left: 24px;
}

.searchForm svg {
  color: var(--secondary);
}

.searchForm button.icon {
  background: transparent;
  border: none;
  outline: none;
  width: var(--size);
  height: var(--size);
  border-radius: 40px;
  padding: 16px;
  cursor: pointer;
}

.searchForm button.icon:hover {
  background: var(--neutral-2);
}

.searchForm button.icon:active {
  background: var(--neutral-4);
}
