.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 100%;
  height: 64px;
  background: var(--neutral-1);
  border-bottom: 2px solid var(--neutral-3);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.separator {
  width: 1px;
  height: 24px;
  background: var(--neutral-4);
}
