.realtimeRoomsSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  border-radius: 52px;
  padding: 40px;
  background: var(--neutral-1);
}

.headerDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTablet {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.titleText {
  font: var(--display-1);
  color: var(--neutral-9);
  margin: 0;
}

.actions {
  display: inline-flex;
  align-items: flex-end;
  gap: 12px;
  width: 100%;
}

.search {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
  flex-shrink: 0;
}

.createRoom {
  display: flex;
  width: fit-content;
  flex-shrink: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
  width: 100%;
}
