.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  white-space: nowrap;
}

.button.large {
  font: var(--button-large);
  padding: 24px 36px;
}

.button.medium {
  font: var(--button-medium);
  padding: 16px 28px;
}

.button.small {
  font: var(--button-small);
  padding: 8px 12px;
}

.button .content {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.button.large .content {
  gap: 12px;
  height: 32px;
}

.button.medium .content {
  gap: 8px;
  height: 24px;
}

.button.small .content {
  gap: 4px;
  height: 16px;
}

.button:focus-visible {
  outline: 2px solid var(--primary-5);
  outline-offset: 2px;
}

.button:disabled {
  cursor: not-allowed;
}

/* Variant - Primary */
.primary {
  background: var(--primary-6);
  color: var(--primary-1);
}

.button:hover:not(:disabled).primary {
  background: var(--primary-7);
}

.button:active:not(:disabled).primary {
  background: var(--primary-9);
}

.button:disabled.primary {
  background: var(--neutral-4);
  color: var(--neutral-3);
}

/* Variant - Secondary */
.secondary {
  background: var(--primary-3);
  color: var(--primary-6);
}

.button:hover:not(:disabled).secondary {
  background: var(--primary-4);
}

.button:active:not(:disabled).secondary {
  background: var(--primary-5);
}

.button:disabled.secondary {
  background: var(--neutral-3);
  color: var(--neutral-4);
}

/* Variant - Outline */
.outline {
  background: var(--neutral-1);
  color: var(--secondary);
  box-shadow: inset 0 0 0 2px var(--neutral-3);
}

.button:hover:not(:disabled).outline {
  background: var(--neutral-2);
}

.button:active:not(:disabled).outline {
  background: var(--neutral-4);
}

.button:disabled.outline {
  background: var(--neutral-2);
  color: var(--neutral-4);
  border-color: var(--neutral-3);
}

/* Variant - Ghost */
.ghost {
  background: transparent;
  color: var(--secondary);
}

.button:hover:not(:disabled).ghost {
  background: var(--neutral-2);
}

.button:active:not(:disabled).ghost {
  background: var(--neutral-4);
}

.button:disabled.ghost {
  background: transparent;
  color: var(--neutral-4);
}
