.heroSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 340px;
  padding: 52px 48px;
  border-radius: 52px;
  background: linear-gradient(73deg, var(--primary-5) 23%, var(--primary-6) 74%);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  z-index: 1;
  height: 200px;
  justify-content: center;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  min-width: 240px;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 16px;
  background: #ffffff33;
  border-radius: 20px;
  font: var(--heading-3);
  color: var(--neutral-1);
  width: fit-content;
}

.label svg {
  color: var(--neutral-1);
}

.titleGroup {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.title {
  font: var(--large-1);
  color: var(--neutral-1);
  margin: 0;
}

.subtitle {
  font: var(--large-2);
  color: var(--neutral-1);
  margin: 0;
}

.descriptionBox {
  padding: 12px 20px;
  background: #ffffff1a;
  border-radius: 52px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: inset 0 0 0 1px var(--primary-5);
}

.descriptionBox p {
  font: var(--heading-3);
  color: var(--neutral-1);
  margin: 0;
}

.imageWrapper {
  flex-shrink: 0;
  z-index: 1;
  width: 200px;
  height: 200px;
}

.mascot {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
}

.logo img {
  width: 24px;
  height: 24px;
}
